{% macro macro_reply node -%}
    <div class="export-type-reply">
        <div class="export-reply-info">
            <a href="mailto:{{ node.author.email }}" title="{{ node.author.name }}" class="export-reply-author" {% if node.author.avatar %}style="background-image: url({{ node.author.avatar }})"{% endif %}></a>
            <span class="export-reply-timestamp" title="{{ node.timestamp|date("r") }}">{{ node.timestamp|date("j M") }}</span>
        </div>
        {%- if node.nodes %}{{ macro_nodes(node.nodes) }}{% endif -%}
    </div>
{%- endmacro %}

{% macro macro_paragraph node -%}
    <div class="export-type-paragraph {% if node.bulleted %}export-type-paragraph-bulleted{% endif %}">
        {%- if node.nodes %}{{ macro_nodes(node.nodes) }}{% endif -%}
    </div>
{%- endmacro %}

{% macro macro_link node -%}
    <a class="export-type-link" href="{{ node.url }}">{% if node.nodes %}{{ macro_nodes(node.nodes) }}{% endif %}</a>
{%- endmacro %}

{% macro macro_text node -%}
    <span class="export-type-text
            {% if node.bold %}export-text-bold{% endif %}
            {% if node.italic %}export-text-italic{% endif %}
            {% if node.struckthrough %}export-text-struckthrough{% endif %}
            {% if node.underlined %}export-text-underlined{% endif %}
        " {% if node.bgColor and not node.bgColor|contains_semicolon %}style="background-color: {{ node.bgColor }}"{% endif %}>
        {%- if node.value %}{{ node.value }}{% endif -%}
        {%- if node.nodes %}{{ macro_nodes(node.nodes) }}{% endif -%}
    </span>
{%- endmacro %}

{% macro macro_attachment node -%}
    <a class="export-type-attachment" href="{{ node.url }}"><img src="{{ node.url }}"></a>
{%- endmacro %}

{% macro macro_file node -%}
    <a class="export-type-file" href="{{ node.url }}">
        {%- if node.preview -%}
            <img src="{{ node.preview }}" title="{{ node.name }}">
        {%- else -%}
            {{ node.name|default("download") }}
        {%- endif -%}
    </a>
{%- endmacro %}

{% macro macro_recipient node -%}
    <a class="export-type-recipient" href="mailto:{{ node.user.email }}">@{{ node.user.name }}</a>
{%- endmacro %}

{% macro macro_task node -%}
    <span class="export-type-task">
        <input type="checkbox" {% if node.completed %}checked{% endif %} disabled>
        <a href="mailto:{{ node.user.email }}">{{ node.user.name }}</a>
        {{ node.deadline|date("j M g:i A") }}
    </span>
{%- endmacro %}

{% macro macro_tag node -%}
    <span class="export-type-tag">#{{ node.value }}</span>
{%- endmacro %}

{% macro macro_gadget node -%}
    <div class="export-type-gadget"><a href="{{ node.url }}">{{ node.url }}</a></div>
{%- endmacro %}

{% macro macro_nodes nodes -%}
    {%- for node in nodes -%}
        {%- if node.type == "reply" -%}
            {{ macro_reply(node) }}
        {%- endif -%}
        {%- if node.type == "paragraph" -%}
            {{ macro_paragraph(node) }}
        {%- endif -%}
        {%- if node.type == "text" -%}
            {%- if node.url -%}
                {{ macro_link(node) }}
            {%- else -%}
                {{ macro_text(node) }}
            {%- endif -%}
        {%- endif -%}
        {%- if node.type == "attachment" -%}
            {{ macro_attachment(node) }}
        {%- endif -%}
        {%- if node.type == "file" -%}
            {{ macro_file(node) }}
        {%- endif -%}
        {%- if node.type == "recipient" -%}
            {{ macro_recipient(node) }}
        {%- endif -%}
        {%- if node.type == "task" -%}
            {{ macro_task(node) }}
        {%- endif -%}
        {%- if node.type == "tag" -%}
            {{ macro_tag(node) }}
        {%- endif -%}
        {%- if node.type == "gadget" -%}
            {{ macro_gadget(node) }}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro %}

{% macro macro_main topic -%}
    <div class="export-content">
        <style scoped>
            .export-content {
                font-family: arial, sans-serif;
                font-size: 14px;
                line-height: 22px;
            }
            .export-content a {
                color: #5CAAF7;
            }
            .export-header {
                padding: 8px;
            }
            .export-header h1 {
                margin: 0;
                font-size: 18px;
            }
            .export-type-reply {
                padding: 12px 8px 10px 8px;
                margin: 9px 0 0 0;
                min-height: 36px;
                border: 2px solid #D6D6D6;
                border-radius: 5px;
                clear: both;
            }
            .export-content > .export-type-reply {
                border-left: 0;
                border-right: 0;
                border-radius: 0;
                margin: 0;
            }
            .export-type-reply + .export-type-reply {
                margin-top: 0px;
                border-top: none;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            .export-reply-info {
                float: right;
                margin: -6px -4px 0;
            }
            .export-reply-author {
                display: block;
                background: white center center no-repeat;
                background-size: cover;
                border: 1px solid black;
                width: 28px;
                height: 28px;
                margin: 0 auto;
            }
            .export-reply-timestamp {
                font-family: sans-serif;
                font-size: 10px;
            }
            .export-type-paragraph {
                margin-top: 3px;
                min-height: 0.5em;
            }
            .export-type-paragraph-bulleted {
                display: list-item;
                list-style: disc outside;
                margin-left: 16px;
            }
            .export-type-attachment img {
                max-width: 200px;
                max-height: 150px;
            }
            .export-type-file img {
                background: silver;
                max-width: 200px;
                max-height: 150px;
            }
            .export-type-recipient {
                padding: 0 3px;
                background: #EAEAEA;
                border: 2px solid white;
                border-radius: 3px;
            }
            .export-type-task {
                padding: 0 3px;
                background: #EAEAEA;
                border: 2px solid white;
                border-radius: 3px;
            }
            .export-type-tag {
                padding: 0 3px;
                background: #EAEAEA;
                border: 2px solid white;
                border-radius: 3px;
            }
            .export-type-gadget {
                padding: 12px 8px 10px 8px;
                margin: 9px 0 16px 0;
                background: #EAEAEA;
                border: 2px solid #D6D6D6;
                border-radius: 5px;
                clear: both;
            }
            .export-text-bold {
                font-weight: bold;
            }
            .export-text-italic {
                font-style: italic;
            }
            .export-text-struckthrough {
                text-decoration: line-through;
            }
            .export-text-underlined {
                text-decoration: underline;
            }
        </style>
        <div class="export-header">
            <h1>{{ topic.title }}</h1>
            (<a href="{{ topic.url }}">original topic</a>)
        </div>
        {{ macro_nodes(topic.nodes) }}
    </div>
{%- endmacro %}

{% block main -%}
    {{ macro_main(topic) }}
{%- endblock %}
